<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-combobox.css" type="text/css" rel="stylesheet">
        <link href="css/jquery-confirm.min.css" type="text/css" rel="stylesheet">

    <title>E-Commerce</title>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="js/html/d3.v4.min.js"></script>

    <script src="js/jquery/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/bootstrap/bootstrap.js"></script>
      <script src="js/jquery/jquery-confirm.js"></script>

    <body>
        {{{body}}}


    </body>

</html>