<link href="css/bootstrap-switch.min.css" rel="stylesheet">
{{!-- <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css"> --}}
<link href="css/easy-button.css" rel="stylesheet" />

<link href="css/leaflet.css" rel="stylesheet" />
<link href='css/mapbox-gl.css' rel='stylesheet' />
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="css/dashboard.css" type="text/css" rel="stylesheet">
<link href="css/bootstrap-combobox.css" type="text/css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" type="text/css">

<title>E-Commerce</title>

<script src="js/jquery/jquery-3.3.1.min.js"></script>

<script src="js/pixi/pixi.min.js"></script>
<script src="js/leaflet/leaflet.min.js"> </script>
<script src='js/mapbox/mapbox-gl.js'></script>


<script src="js/jquery/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

{{!--
<link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css' rel='stylesheet' type='text/css' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet-src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
<script src="js/leaflet/L.D3SvgOverlay.min.js"></script>
<script src="js/leaflet/L.D3SvgOverlay.js"></script> --}}
<nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0" style="border-bottom:3px solid rgb(216, 216, 216);">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="border-bottom:0.1px solid rgb(216, 216, 216);background-color:white;box-shadow:none;color:rgb(124, 124, 124);font-size:1.5em;">胜利油田</a>
</nav>

<main id="main" role="main" class="col-md-12 ml-sm-auto col-lg-12 " id="main" style="padding-left:0px;">
    <div id="left-view">
        <div id="data-infor"></div>
        <div id="parameter-set">
            <span style="margin-left:10%;margin-top:5.5%;position:absolute;color:rgb(124, 124, 124);">采样率： </span>
            <input type="text" id="sample_rate" value=50>
            <div id="rate_slider"></div>
            <button id="sample" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sample</button>
            <div class="checkbox" id="matchDiv">
                <label><input id="matchStatus" type="checkbox" value="" style="padding-right:5px;">Match</label>
            </div>
            <div id="attrs_select" class="checkbox">
                <label style="left:20%;"><input id="spStatus" type="checkbox" value="" style="margin-right:5px;">SP</label>
                <label style="left:50%;"><input id="condStatus" type="checkbox" value="" style="padding-right:5px;">COND</label>
                <label style="left:20%;margin-top:10%"><input id="ml1Status" type="checkbox" value="" style="padding-right:5px;">ML1</label>
                <label style="left:50%;margin-top:10%"><input id="ml2Status" type="checkbox" value="" style="padding-right:5px;">ML2</label>
                <label style="left:20%;margin-top:20%"><input id="r4Status" type="checkbox" value="" style="padding-right:5px;">R4</label>
                <label style="left:50%;margin-top:20%"><input id="acStatus" type="checkbox" value="" style="padding-right:5px;">AC</label>

            </div>
            {{!-- <div class="checkbox" id="matchDiv">
                <label><input id="spStatus" type="checkbox" value="" style="margin-right:5px;">SP</label>
            </div>
            <div class="checkbox" id="matchDiv">
                <label><input id="condStatus" type="checkbox" value="" style="margin-right:5px;">COND</label>
            </div>
            <div class="checkbox" id="matchDiv">
                <label><input id="ml1Status" type="checkbox" value="" style="margin-right:5px;">ML1</label>
            </div>
            <div class="checkbox" id="matchDiv">
                <label><input id="ml2Status" type="checkbox" value="" style="margin-right:5px;">ML2</label>
            </div>
            <div class="checkbox" id="matchDiv">
                <label><input id="r4Status" type="checkbox" value="" style="margin-right:5px;">R4</label>
            </div>
            <div class="checkbox" id="matchDiv">
                <label><input id="acStatus" type="checkbox" value="" style="margin-right:5px;">AC</label>
            </div> --}}
            <button id="match" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Match</button>
        </div>
        <div id="other"></div>
    </div>
    <div id="map"></div>
    <div id="right-view">
        <div id="lineChart">
            <svg id="ChartSvg"></svg>
        </div>
    </div>
</main>
<script src="js/my/variable.js"></script>
<script src="js/my/matchCal.js"></script>
<script src="js/my/drawPoint.js"></script>
<script src="js/my/lineChart.js"></script>
<script src="js/my/mapView.js"></script>
<script src="js/my/option.js"></script>